@import "./_font";

// Breakpoints
$brSm: 576px; // Small devices (landscape phones, 576px and up)
$brMd: 768px; // Medium devices (tablets, 768px and up)
$brLg: 992px; // Large devices (desktops, 992px and up)
$brXl: 1200px; // Extra large devices (large desktops, 1200px and up)

// General colors
// $primary: #060b26;
$primary: #28a745;
$light: #f8f9fa;
$lightBlue: #1a83ff;
$text: #212529;

// Main-container
$mainConWidth: 85%;

// Navbar
$navbarWidth: 100%; // 100% bcause the parent container is .main-container
$navbarHeight: 4rem;
$navbarSmHeight: 4rem;
// $navbarBackground: #060b26; // #19235a
$navbarBackground: #fff;
$navbarColor: #fff;
$navbarShadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
$hamburgerColor: #212529;

// Sidebar
$sidebarWidth: 15%;
// $sidebarBackground: #060b26;
$sidebarBackground: #333;
$sidebarColor: #fff;
