@import "./_font";

// Breakpoints
$brSm: 576px; // Small devices (landscape phones, 576px and up)
$brMd: 768px; // Medium devices (tablets, 768px and up)
$brLg: 992px; // Large devices (desktops, 992px and up)
$brXl: 1200px; // Extra large devices (large desktops, 1200px and up)
$br3Xl: 1600px; // greater than

// General colors
// $primary: #060b26;
$blurple: #5865f2;
$primary: $blurple;
$light: #f8f9fa;
$lightBlue: #1a83ff;
$text: #212529;
$borderColor: #e1e5eb;

// Sidebar
$sidebarWidth: 17.5%;
$sidebarBackground: #fff;
$sidebarIcon: #cacedb;
$sidebarText: #3d5170;
$sidebarHover: #f8f9fa;

// Main container
$mcWidth: 82.5%;

// Navbar
$navbarHeight: 3.75rem;
$navbarBackground: #fff;

// Page container
$pcHeight: calc(100% - 3.75rem);

// Other
$borderRadius: 7px;
$smallBorderRadius: 6px;
$shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
