@import './_variables';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    margin: 0;
  }

  #root {
    width: inherit;
    height: inherit;
    background-color: inherit;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba($color: #ededed, $alpha: 0.8);
    border-radius: $borderRadius;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ededed;
  }
  ::selection {
    background: $primary;
    color: #fff;
  }
  ::-moz-selection {
    background: $primary;
    color: #fff;
  }

  // Typography
  .text {
    color: $text;
  }
  .text.font-weight-bold {
    font-family: 'Quicksand-Bold' !important;
    font-weight: normal !important;
  }
  p > a,
  i > a,
  strong > a {
    transition: 150ms;
    color: $text;
    border-bottom: 1px dotted $text;

    &:hover {
      color: $primary;
      border-color: $primary;
      text-decoration: none;
    }
  }

  // Progressbar
  .progress {
    height: 1.5rem;
    border-radius: $smallBorderRadius;
    .progress-bar {
      background-color: $primary;
    }
  }

  // Card
  .card {
    border-radius: $borderRadius !important;
    border: 1px solid #ededed;
    &.border-top {
      border-top: 4px solid $primary !important;

      .card-title {
        font-family: 'Quicksand-SemiBold';
      }
    }
    .card-img-top {
      border-radius: $borderRadius;
    }
    .card-body {
      padding-bottom: 1rem;
    }
  }
  .cbs-card {
    .item-icon {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }
    .badge:hover {
      cursor: pointer;
    }
  }

  // Accordion
  .accordion {
    .card {
      border-radius: 0 !important;
      border-bottom: 1px solid #ededed !important;
      .card-header {
        border-color: #ededed !important;
      }
    }
  }

  // Badge
  .badge {
    letter-spacing: 0.3px;
    font-family: 'Quicksand-Medium';
    border-radius: $borderRadius;
    &.badge-primary {
      background-color: $primary !important;
    }
  }

  // Rounded
  .rounded {
    border-radius: $borderRadius !important;
  }

  // Tables
  .table {
    margin-bottom: 0;
    &.no-wrap {
      white-space: nowrap !important;
    }
    th,
    td {
      vertical-align: middle !important;
    }
    th {
      font-family: 'Quicksand-Medium' !important;
    }
    tbody tr:hover {
      background-color: $light !important;
      td {
        &:first-child {
          border-top-left-radius: $borderRadius;
          border-bottom-left-radius: $borderRadius;
        }
        &:last-child {
          border-top-right-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
      }
    }
  }
  .shops #vehicle-table tr:first-child td,
  .shops #item-table tr:first-child td {
    border-top: 0 !important;
  }

  // Buttons
  .btn {
    outline: none !important;
    border-radius: $borderRadius;
    &:focus {
      box-shadow: none !important;
    }
    &.btn-primary {
      background-color: $primary !important;
      border-color: $primary !important;
    }
    &.btn-outline-primary {
      border-color: $primary !important;
      color: $primary !important;
      &:hover,
      :focus {
        background-color: $primary !important;
        color: #fff;
      }
    }
  }
  .close-btn {
    outline: none !important;
    transition: background-color 0.2s ease;
    padding: 0.3rem 0.7rem;
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    color: white;
    &:hover {
      background-color: rgba($color: #000, $alpha: 0.3);
      color: rgba($color: #fff, $alpha: 0.95);
    }
  }

  // Forms
  .form-group {
    .form-label {
      margin-bottom: 0;
      font-family: 'Quicksand-Medium';
    }

    .form-control {
      resize: none;
      background-color: $light;
      border: 2px solid $light;
      border-radius: $borderRadius;
      &:focus {
        box-shadow: none;
        border-width: 2px;
        border-color: $primary;
        background-color: $light;
      }
    }
    .custom-file {
      .custom-file-label {
        background-color: $light;
        border: 2px solid $light;
      }
      .custom-file-input:focus ~ .custom-file-label {
        box-shadow: none !important;
        border-width: 2px;
        background-color: $light;
      }
    }
  }
  .input-group {
    .form-label {
      margin-bottom: 0;
      font-family: 'Quicksand-Medium';
    }

    .form-control {
      resize: none;
      background-color: $light;
      border: 2px solid $light;
      &:focus {
        box-shadow: none;
        border-width: 2px;
        border-color: $primary;
        background-color: $light;
      }
    }

    .input-group-append,
    .input-group-prepend {
      .input-group-text {
        background-color: $light;
        border-top: 2px solid $light;
        border-bottom: 2px solid $light;
      }
    }
  }

  // Modals
  .modal {
    z-index: 1250;
    &.modal-static .modal-dialog {
      transform: scale(1) !important;
    }
    .modal-content {
      border-radius: 18px;
      padding: 0.5rem;
      .modal-header {
        padding-bottom: 0;
        border-bottom: 0px;
        .modal-title {
          font-weight: bold;
        }
        .close-btn {
          margin: -0.5rem -0.5rem -1rem auto;
          color: #212529;
        }
      }
      .modal-footer {
        padding-top: 0;
        border-top: 0px;
        .btn.btn-white {
          transition: 200ms;
          background-color: white;
          &:hover {
            background-color: $light;
            border: 1px solid #ededed;
          }
        }
      }
    }
  }

  // Nav-pill
  .nav-container {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: $light;

    .nav {
      .nav-link {
        transition: all 0.3s ease 0s;
        text-align: center;
        width: 50%;
        font-family: 'Quicksand-Medium';
        border-radius: $borderRadius;
        color: #212529;

        &:hover {
          color: $primary;
        }

        &.active {
          background-color: $primary !important;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}
