@import "./_variables";

.main-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: $navbarHeight;
  padding: 0 1rem;
  background-color: $navbarBackground;
  color: $navbarColor;
  box-shadow: $navbarShadow;
  -webkit-box-shadow: $navbarShadow;
  -moz-box-shadow: $navbarShadow;
  .hamburger {
    display: none;
    padding-right: 1rem;
    font-size: 2.3rem;
    color: $hamburgerColor;
    &:hover {
      cursor: pointer;
    }
  }
  @media (max-width: $br3Xl) {
    .hamburger {
      display: unset;
      font-size: 2.3rem;
    }
  }
  @media (max-width: $brXl) {
    .hamburger {
      display: unset;
      font-size: 2.3rem;
    }
  }
  @media (max-width: $brSm) {
    .hamburger {
      display: unset;
      font-size: 2.3rem;
    }
  }
}
@media (max-width: $br3Xl) {
  .main-navbar {
    z-index: 1200;
    position: sticky;
    top: 0;
    height: $navbarSmHeight;
  }
}
@media (max-width: $brSm) {
  .main-navbar {
    z-index: 1200;
    position: sticky;
    top: 0;
    height: $navbarSmHeight;
  }
}
