@import "./_variables";

.main-sidebar {
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    transition: 850ms;
    width: $sidebarWidth;
    height: 100%;
    top: 0;
    background-color: $sidebarBackground;

    // Isn't really required on desktop devices because the sidebar is only expandable on smaller devices like smartphones
    // &.active {
    //   left: 0;
    //   transition: 350ms;
    // }

    .header {
      margin: 1.5rem;

      .logo {
        width: auto;
        height: 10rem;
      }
    }

    .nav-menu-items {
      position: relative;
      width: 100%;
      height: 90%;
      padding: 0 1.5rem;

      .nav-text {
        display: flex;
        list-style: none;
        width: 100%;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          width: 95%;
          height: 100%;
          padding: 0.5rem 1rem;
          border-radius: $borderRadius;
          font-size: 1.1rem;
          color: $sidebarColor;

          &:hover {
            background-color: rgba($color: $light, $alpha: 0.2);
          }

          &.active {
            background-color: $primary;
          }

          span {
            margin-left: 0.5rem;
            font-family: "Quicksand-Medium";
          }
        }
      }

      .version {
        position: absolute;
        background: red;
        bottom: 1rem;
      }
    }
  }

  @media (max-width: $brSm) {
    .nav-menu {
      z-index: 1200;
      width: 80%;
      left: -80%;
      top: $navbarHeight;

      &.active {
        left: 0;
        transition: 350ms;
      }
    }
  }

  @media (max-width: $brXl) {
    .nav-menu {
      z-index: 1200;
      width: $sidebarXlWidth;
      left: -80%;
      top: $navbarHeight;

      &.active {
        left: 0;
        transition: 350ms;
      }
    }
  }
}
