@import "./_variables";

.sidebar-toggler {
  display: none;
  align-items: center;
  justify-content: center;
  width: $navbarHeight;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: unset;
  border-left: 1px solid $borderColor;
  color: $sidebarIcon;
  &:hover {
    cursor: pointer;
  }
}

.sidebar {
  position: fixed;
  z-index: 1000;
  width: $sidebarWidth;
  height: 100%;
  background-color: $sidebarBackground;
  color: $sidebarText;
  box-shadow: 6px 0 5px -2px rgba($color: #000000, $alpha: 0.1);

  .sidebar-header {
    position: relative;
    height: $navbarHeight;
    border-bottom: 1px solid $borderColor;
    .brand-logo {
      position: absolute;
      top: 0.5rem;
      left: calc(50% - 1.875rem);
      height: calc(100% - 1rem);
      border-radius: 5px;
    }

    .sidebar-toggler {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .sidebar-body {
    ul {
      padding-left: 0 !important;

      .sidebar-link {
        display: flex;
        padding: 1rem 1.5rem;
        align-items: center;
        border-bottom: 1px solid $borderColor;
        border-left: 4px solid transparent;
        text-decoration: none;
        font-size: 1.05rem;
        &:hover {
          border-left-color: $blurple;
          background-color: $sidebarHover;
          .icon,
          svg {
            color: $blurple;
          }
          span {
            color: $blurple;
          }
        }
        &.active {
          border-left-color: $blurple;
          .icon,
          svg {
            color: $blurple;
          }
          span {
            color: $blurple;
          }
        }

        .icon,
        svg {
          margin-right: 0.5rem;
          color: $sidebarIcon;
        }

        span {
          color: $sidebarText;
        }
      }
    }
  }

  .sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid $borderColor;
    p {
      text-align: center;
      padding: 0.5rem 1rem;
      margin-bottom: 0;
      color: $sidebarIcon;
    }
  }
}

@media (max-width: $brLg) {
  .sidebar-toggler {
    display: flex;
  }

  .sidebar {
    transition: 150ms margin linear;
    position: fixed;
    width: 100%;
    margin-left: -100%;
    &.shown {
      margin-left: 0;
    }
  }
}
